<div class="app-container">
  <div class="project-card">
    <div class="project-name">
      <%= image_tag "mpluse_1.png", class: "project-pic-1" %>
      <%= image_tag "mpulse_2.png", class: "project-pic-2" %>
    </div>
    <div class="project-description">
      <h1 class = "text" id ="gradation">Mpulse</h1>
      <h3 class ="text" id ="team">Le Wagon Team Project</h3>
      Ï
      <p class="tagline">Navivate the beat of your city! This application showcases live events, providing insight into happenings near your current location through the "Events Near You" feature. Additionally, past events you've attended are conveniently accessible on the dashboard. Earn badges for active participation, and explore live comments and photos by checking in!</p>
      <div class="app-links">
      <%= button_to 'Check Mpulse', 'https://www.m-pulse.live/', class: "app-button", method: :get %>
      <%= button_to 'Check GitHub', 'https://github.com/komegi1215/mpulse', class: "app-button", method: :get %>
      </div>
    </div>
  </div>
  <div class="project-card">
    <div class="project-name">
      <%= image_tag "tripl.png", class: "project-pic" %>
    </div>
    <div class="project-description">
      <h1 class = "text" id ="gradation">Tripl</h1>
      <h3 class ="text" id ="team">Le Wagon Team Project</h3>
      <p class="tagline">Tripl is a fun way to avoid taking day trips alone. Share your itinerary and discover new travel companions! Browse through available trips, choose the ones that interest you, and easily sign up. Stay connected with your travel buddies effortlessly. Interested in organizing your own trip? No problem! Become an organizer and gather your fellow adventurers. </p>
      <div class="app-links">
      <%= button_to 'Check Tripl', 'https://tripl-komegi1215-c3f7a7733216.herokuapp.com/', class: "app-button", method: :get %>
      <%= button_to 'Check GitHub', 'https://github.com/komegi1215/Tripl', class: "app-button", method: :get %>
      </div>
    </div>
  </div>
</div>
