

 <div class="container all-container">
  <h1 class = "title">Megumi Mizuno</h1>
  <div class="menu">
      <a href="#portfolio" class="menu-1">Projects</a>
      <a href="#certificate-list" class="menu-2">Certificates</a>
      <a href="#contact-container" class="menu-3">Contact Me</a>
    </div>
  <div class="upper-container">
    <div class="left-container justify-content-center introduction col-3">
      <div class="profile-pic">
        <%= image_tag "meg.jpeg", class: "profile" %>
      </div>
      <div class="sns">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="right-container col-7">
      <p class = "description">I am a web developer and data engineer! I completed the Le Wagon Bootcamp (6 months of intense coding while workig full time)
        I am working as a CRM specialist at a pharmaceutical company, but start to work on data mangement and data engineering as well. No code, no life💻</p>
      <p class = "resume"><%= link_to 'Download Resume', 'https://drive.google.com/file/d/1EGZU1wTW-js3RcKnqqEJ4SQ0ohkG8OSF/view?usp=sharing', target: '_blank' %>
Download Resume</p>
    </div>
  </div>
  <div class="bottom-container">

    <div class="portfolio" id ="portfolio">
      <h1 class ="project-text">Projects</h1>
      <%= render "contacts/portfolio" %>
    </div>
    <div class="career">
      <h1 class ="career-text">Career</h1>
      <%= render "contacts/career" %>
    </div>
    <div class="certificate-list" id ="certificate-list">
      <h1 class ="certificate-text">Skills and Certificates</h1>
      <%= render "contacts/badge" %>
    </div>
    <div class="contact-container" id ="contact-container" style = "margin-top:50px;">
      <h1 class ="contact-title">Contact Me</h1>
      <%= simple_form_for @contact do |f| %>
        <%= f.input :title, label: "Title" %>
        <%= f.input :first_name, label: "First Name" %>
        <%= f.input :last_name, label: "Last Name" %>
        <%= f.input :email, label: "E-mail" %>
        <%= f.input :message, label: "Message" %>
        <%= f.button :submit, "Submit!", class: "form-btn" %>
      <% end %>
    </div>
  </div>
</div>
